<!DOCTYPE html>
<html class="%%(frash_mode)s">
<head>
 	<title>%%(title)s</title>
	<meta name="description" content="%%(description)s">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/chat.css?v=%%(css_version)s">
	<link rel="icon" type="image/png"  href="/favicon.png">
	<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]--></head>
<body id="chat">
	<div id="wrapper1">
		<div class="center_helper">
			<div id="login-wrapper">
				<div id="slide_message" class="hidden"></div>
				<div id="slide_login" class="slide_page">
					<h1>Login</h1>
					<div>Please read &amp; follow the <a href="%%(rules_uri)s" target="_blank">chat rules</a>. <br/><br/>
					To login to chat, you need to be logged into TURBO Sticks.</div>
					<img class="spinner hidden" src="/static/spinner%%(rand_spinner)s.gif" alt="One moment">
					<form id="loginform" method="post" action="" data-webchat-uri="%%(webchat_uri)s">
						<input id="channel_name" type="hidden" value="%%(live_channel)s">
						<input id="login" type="submit" value="Login"/>
					</form>
				</div>
			</div>
		</div>
		<div class="channel-container">
			<div class="center_helper">
				<div id="settings-container" class="center-floating-container hidden fixed-top-centered">
					<h2>Settings</h2>
					<div class="settings-body">
						<div class="settings-item" data-settings-type="smooth-scroll-mode" title="Toggles the smooth scroll feature." role="button">
							<i class="fa fa-2x fa-toggle-on" aria-hidden="true"></i>
							<span>Smooth Scroll</span>
						</div>
						<div class="settings-item hidden" data-settings-type="turbo-mode" title="Enables T-t-turbo mode!" data-channels="%%(live_channel)s" role="button">
							<i class="fa fa-2x fa-toggle-off" aria-hidden="true"></i>
							<span>TURBO Only</span>
						</div>
						<div class="settings-item" data-settings-type="join-mode" title="Shows you when a user joins or leaves the chat." role="button">
							<i class="fa fa-2x fa-toggle-off" aria-hidden="true"></i>
							<span>Show Join/Leave</span>
						</div>
						<div class="settings-item" data-settings-type="chat-theme" title="Switch between dark and light theme." role="button">
							<i class="fa fa-2x fa-toggle-off" aria-hidden="true"></i>
							<span>Dark Theme / Light Theme</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Serves as a template to create other channels. -->
			<div id="channel-tab-template" class="channel-tab">
				<div class="center_helper">
					<!-- Users go into sections within this list. -->
					<div class="user-list-wrapper center-floating-container hidden">
						<h2>User List</h2>
						<div class="user-list scaled mid-size"></div>
					</div>
				</div>
				<!-- Chat messages and events go here. -->
				<div class="channel-window scaled small"></div>
				<!-- Adaptive chat buttons -->
				<div class="lower-ui">
					<div class="right">
						<span class="button-container user-list-button disabled">
							<i class="fa fa-users fa-inverse button" aria-hidden="true" title="Show Users" alt="?" role="button"></i>
						</span>
						<span class="button-container user-settings-button">
							<i class="fa fa-cog fa-inverse button" aria-hidden="true" title="Show My Settings" alt="?" role="button"></i>
						</span>
					</div>
					<!-- Input here to chat. -->
					<div class="left">
						<input type="text" class="chatbox" maxlength="300" placeholder="Start Chatting (Or type /help)" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	%(footer)s
	<script src="/static/ui.js?v=%%(js_version)s"></script>
	<script src="/static/chat.js?v=%%(js_version)s"></script>
</body>
</html>
