<!DOCTYPE html>
<html lang="en">
<head>
%(html_header)s
</head>
<body>
%(header)s
<div id="page">
%%(nav)s
	<div id="content">
		<h1>TURBO Sticks</h1>
		<p>TURBO Sticks lets you make use of various TURBO services, such as TURBO Chat and Awesome Piece Theatre using your <a href="https://toot.turbo.chat/about">TURBO Toot</a> account.</p>
		<p>If you don't have a TURBO Toot account yet and you're already part of the TURBO Club <a href="https://bit.ly/TURBOToot">you can request one using this form</a>.</p>
		<p>
			<a href="%%(login_uri)s" class="button">Login using TURBO Toot</a> -or-
			<a href="https://bit.ly/TURBOToot" class="button">Request TURBO Toot account</a>
		</p>
	</div>
</div>
%(footer)s
</body>