<!DOCTYPE html>
<html lang="en">
<head>
%(html_header)s
</head>
<body>
%(header)s
<div id="page">
%%(nav)s
	<div id="content">
		<h1>Turbo Sticks</h1>
		<p>Turbo Sticks lets you make use of various Turbo services, such as Turbo Chat and Awesome Piece Theatre using your <a href="https://toot.turbo.chat/about">Turbo Toot</a> account.</p>
		<p>If you don't have a Turbo Toot account yet and you're already part of the Turbo Club, please contact one of the Moderators to receive an inivite.</p>
		<p><a href="%%(login_uri)s" class="button">Login using Turbo Toot</a></p>
	</div>
</div>
%(footer)s
</body>