<!DOCTYPE html>
<html lang="en">
<head>
%(html_header)s
</head>
<body>
%(header)s
<div id="page">
%%(nav)s
	<div id="content">
		<b>Disclaimer</b>
		<p>Acting in a rude, offensive, or otherwise inappropriate manner that isn't listed here can still get you punished. Not every way a person can offend or disturb are able to be listed. Being banned for an offense we didn't think to list, but was still outrageous, is not an unfair punishment. It is not overstepping, power-tripping, or proof of "unspoken" rules. No, you do not need to hear it from Fraser himself that he agrees with how we moderate, this is what we're here for. Our moderating Team consists of: Acevil, Aqws3, ATrulyAmazingToaster, Aughts, Bonefoot, Chrya, Cogswell_Chris, Daverball, DKSigne (a.k.a. karamelgiraf), Fiffles, Isophist, MellisBaker, MikeyMcMuffin, Nulani, QuaziJoe, StephasaurRAWR, Syretha, and Gangstahwezel. Our Helper position is currently in stasus, but may be reinstated at a later date. Please also check out our FAQ on the forums!</p><br>
		<h1>General<a name="general"></a></h1>
		<ul>
			<li>
				<b>Use complete sentences; don't use chat speak. Spell checkers exist.</b><br>
				<p>Spell words out and try to be understood: attempts at punctuation help.</p>
			</li>
			<li>
				<b>No sexist, racist, or hate speech allowed. Also don't make rape jokes or use the word in an inflationary manner.</b><br>
				<p>This includes terms you "use all the time" with friends; referring to a woman as a bitch for no reason other than her gender; the word "fag", "faggot", or "gay" in insulting ways.</p>
			</li>
			<li>
				<b>As a video gaming community we only allow controversial topics, like politics or religion, to be discussed in a video gaming context.</b><br>
				<p>Please always keep it civil, and keep it out of the chat. We will end any discussion that we feel will get out of hand.
			</li>
			<li>
				<b>Don't be a dick and don't harass others.</b><br>
				<p>If you’re being rude, passive aggressive, or generally unpleasant, we don’t want you around. It is not your job to antagonize the crew or other members of the chat. We do not tolerate abuse. This includes constant badgering, personal attacks, threats, sexual harassment, and so forth. If you cannot tell the difference between a friendly troll and harassment, it's best to keep quiet. If your goal is to cause anger, you will be removed. Playing Devil's advocate just to start an argument or get a rise out of people is trolling.</p>
			</li>
			<li>
				<b>Do not backseat game.</b><br>
				<p>Someone not being "good" at video games should not offend or anger you and if it does this is probably not the show for you. VGA is not about speedrunning, doing walkthroughs, or showing off skill. It's about fun. Do not insist that an easter egg be seen, an unnecessary item obtained, or that we give up to play another game.</p>
			</li>
			<li>
				<b>You are responsible for any actions taken under your accounts.</b><br>
				<p>That includes, but is not limited to, griefing, spamming, etc. We WILL NOT take the excuse "But I let my friend borrow my account!".</p>
			</li>
			<li>
				<b>Don't be obnoxious when writing. No allcaps, excessive punctuation, spam, ASCII art or mass smileys.</b><br>
				<p>This includes extending words by repeating letters in a word, such as: Yaaaaaaaay! Two extra characters are okay, but any more is spam and obnoxious. There is never a need to post multiple smileys in a sentence. Saying the same thing over and over, line after line, is considered spam. As is repeating the lines above you.</p>
			</li>
			<li>
				<b>Please stick to English.</b><br>
				<p>You're excluding people from conversations by using a foreign language.</p>
			</li>
			<li>
				<b>The only place for community members to advertise your own projects (shows, podcasts, games…) is the Bragging Shed forum.</b><br>
				<p>If you sign up just to advertise without contacting staff beforehand we will alter your posts and ban your account.</p>
			</li>
			<li>
				<b>Do not bother the crew.</b><br>
				<p>You can talk to them or send them a message, but, just like other members of the community, they are not to be harassed. When they join a game they are there to play, not answer dozens of questions.</p>
			</li>
			<li>
				<b>Don't look for loopholes in the rules.</b><br>
				<p>Most of our rules are intentionally vague. We do not want to hear "But I wasn't being a dick, I was just arguing!"</p>
			</li>
			<li>
				<b>The crew breaking any of these rules doesn't mean you get to! These are rules for you, not them.</b>
			</li>
			<li>
				<b>Accusations of "power tripping" based solely on the moderators enforcing these rules will likely prove unfavorable for you.</b>
			</li>
			<li>
				<b>We have a thread here for disagreements or concerns with our moderators, which we strongly suggest you utilize before acting rashly. The thread is public so the entire community can see it.</b>
			</li>
		</ul>
		<h1>Both chats (enforced outside of shows, as well)<a name="chats"></a></h1>
		<ul>
			<li>
				<b>Do not post links during shows.</b><br>
				<p>We have a bot to post allowed links: use !help for a list of commands.</p>
			</li>
			<li>
				<b>You may only use text smileys that are no longer than 3 characters.</b><br>
				<p>This means :), >:(, ^^ and such are fine, some unicode monstrosity is not.</p>
			</li>
			<li>
				<b>Do not repeat what other people have already written right before you.</b><br>
				<p>We don't need the chatroom to be filled with the same thing over and over again. This includes chat buzzing or other problems. If you see it in chat, so does the crew. If you're worried the crew won't see it, you can not say anything so the messages stay on screen. It's not important for you to be the one who is seen.</p>
			</li>
			<li>
				<b>When we have developers/special guests in the chat we want the chat to be as fun a place for them as it is for you.</b><br>
				<p>Treat them like a fellow Turbo, and don't criticize them or their work.</p>
			</li>
			<li>
				<b>Try to keep what you're saying about the show, the stream, video games or something related.</b><br>
				<p>If the crew has moved on from a topic, so should you. Questions about upcoming shows are best left to end of show, or better, post-show.</p>
			</li>
			<li>
				<b>Don't spoil anything unless asked.</b><br>
				<p>If you're talking about the game in future tense, it's likely a spoiler. This includes everything from big plot points to what enemies are in the next room; ANY information about unseen content whatsoever is off-limits, including things like "this upcoming scene is amazing!" and "Prepare for greatness!". Joke spoilers are treated as spoilers and are barred from chat. Do not bother saying things like, "But I can't talk about this because of spoilers." Just don't say anything at all.<br>
				Do <b>not</b> enter chat during a show and ask if Fraser/the Gang is at a specific point. If you aren’t caught up on what’s going on, don’t make presumptions regarding progress. Very often, people asking questions like this are spoiling what’s coming up.</p>
			</li>
			<li>
				<b>Only when asked for advice does the SNARF/DERP system comes into play.</b><br>
				<p>You may use SNARF to indicate you're 100&#37; sure about what you're saying and DERP to indicate that you're not. You will lose chat privileges for bad snarfs or derps, so please make sure you know what you're talking about and don't abuse the system. A question is not a SNARF nor DERP, nor are any jokes. It does not count if Fraser is thinking out loud.</p>
			</li>
			<li>
				<b>Think about what you're about to say in the chat.</b><br>
				<p>We don't mind you being funny or having puns or having a good time but say something of value. Just saying "potato" is not of value.</p>
			</li>
			<li>
				<b>Don't complain about Ads, slow mode or Turbo only chat.</b><br>
				<p>Ads support the show you are watching. Do not advocate, celebrate, or mention use of ad-blocking software without having honest technical problems with ads. Slow mode is needed when you have so many people in chat. It's like having 20 people talking to each other at once and trying to follow every conversation. For an explanation of Turbo only chat watch this.</p>
			</li>
		</ul>
		<h1>Twitch specific<a name="twitch"></a></h1>
		<ul>
			<li>
				<b>Do not abuse the /me command.</b><br>
				<p>Twitch sadly colors the whole line in your name's color which is obnoxious.</p>
			</li>
			<li>
				<b>Do not use Twitch-specific emoticons.</b><br>
				<p>This includes things like SSSsss and Kappa, but not the usual :) style smileys. Twitch-specific emotes will automatically get you timed out for 15 seconds.</p>
			</li>
		</ul>
		<h1>Games<a name="games"></a></h1>
		<ul>
			<li>
				<b>Keep the game fun for everyone. Do not complain about people actually playing.</b>
			</li>
		</ul>
		<h1>Minecraft<a name="minecraft"></a></h1>
		<ul>
			<li>
				<b>These rules apply to both current and any future Minecraft servers.</b><br>
				<p>In most cases, a temporary ban or full ban from one Minecraft server will not mean a ban from both. In some cases, such as the use of certain disallowed mods or any client hacks, you will be banned from Minecraft in full.</p>
			</li>
			<li>
				<b>The crew area is warded from building, but you can go in.</b><br>
				<p>You can visit them, but your best behavior is expected, and anyone crowding the crew may find themselves temporarily banned. Access to the crew area may be removed later, depending on how people make use of that access.</p>
			</li>
			<li>
				<b>Ask Google before asking the mods.</b><br>
				<p>This is going to be as depressing as when you learned that your parents didn't have all of the answers, but the mods don't know everything and they have better things to do than answer every single question. You're going to get much quicker and more concise answers from Google. Alternately, try here for frequently asked server related questions.</p>
			</li>
			<li>
				<b>Do not bother the crew when they are online.</b><br>
				<p>Special guests may join us on the servers, even if a show isn't on. Their names are preceded by an [S] in chat. Treat them like you would treat the crew.</p>
			</li>
			<li>
				<b>If its not yours, don't alter it, take it or destroy it. Don't look in chests of others.</b><br>
				<p>You leave your fingerprints ALL over any chest you open. PLEASE do not free, shear, or kill someone else’s fenced in animals, or harvest crops, without asking permission first. We WILL ban you if you kill another person’s crops or livestock on the servers without their permission.</p>
			</li>
			<li>
				<b>Don't alter challenge builds on the permanent server after their air date.</b><br>
				<p>The build challenges are wonderful pieces of work as they are, and changing things only detracts from them. And no pillaging. The blocks have more inherent worth where they are than they could ever have on their own. Altering the Hub (this includes the decorative trees) makes mods cranky. Making us cranky is a Bad Plan. Challenge builds on our show server are protected from editing after their show airs, but are available for viewing in spectator mode.</p>
			</li>
			<li>
				<b>Repair the holes caused by creepers pursuing you.</b><br>
				<p>No one wants to fall down craters every time they walk around. You made the creeper mad and decided to give him a hug to make him feel better. He’s your responsibility, and just like your first pet, it’s your job to clean up his mess.</p>
			</li>
			<li>
				<b>On the permanent server, don't build or alter the land within 500 blocks of another build with out asking, especially the Portal Hub (if we can see your build from the Hub, it's WAY too close).</b><br>
				<p>Communities need space to grow and you have no way of knowing whether a solo build is going to change from one castle to an exact replica of an entire province in Japan. So keep your distance or check with ALL neighboring residents before setting up shop. This includes any roadways/railways/transport systems you may be inclined to build. An easy way to ensure you’re not crowding someone is to look at the server map.</p>
			</li>
			<li>
				<b>Don't build or alter the land within 50 blocks of a Waystation.</b><br>
				<p>Waystations have replaced the old underground portal system on the permanent server. They are spaced out along a 2000 by 2000 grid across the world. The waystations are accessible from the Hub map. You can add torches to stop hostile mobs from spawning. If you would like to add pathing or decorations to the area around a waystation, ask for permission from a moderator. All changes are subject to moderator approval.</p>
			</li>
			<li>
				<b>On the challenge server, respect builds around you.</b><br>
				<p>The challenge server maps don't have set size, and space between builds must vary based on the style of the challenge. Please respect the space of already present builds and get permission before building within others' areas. This includes areas built by the mods for use by the community, such as a hub area.</p>
			</li>
			<li>
				<b>No game-changing mods allowed on the servers.</b><br>
				<p>No flying, no x-ray, no nonsense. Play vanilla. Map mods are okay as long as they do not help you find ores and mats anymore than our server map can. Mods like convenient inventory and Improved Chat are also fine. If you have a questions about whether a mod is okay, please do ask as we have very little tolerance for mods and it's better to ask than to find yourself banned.</p>
			</li>
			<li>
				<p><b>Grinders are not allowed. Do not build structures that can:</b></p>
				<ul>
					<li>Force a spawner to create more mobs than it normally would</li>
					<li>Funnel friendly mobs to a space where they will start glitching into the walls and ceiling</li>
					<li>Funnel hostile mobs AT ALL</li>
					<li>Automatically kill mobs systematically</li>
				</ul>
				<p>Those can cause client and server side lag by, for example, making entities glitch out or creating a lot of items on the floor. Normal traps and defenses are not affected by this, nor are "danger rooms".</p>
			</li>
			<li>
				<b>Don't confine mobs to a space where they're glitching into each other or through blocks.</b><br>
				<p>Make sure mobs aren't so packed in that they are glitching through walls, this can cause massive lag.</p>
			</li>
			<li>
				<b>Farming/Anti-Lag Guidelines</b><br>
				<p>These aren't actual rules for the servers, per se, but you're asked to please consider the following guidelines to help cut down on server lag.</p>
				<ul>
					<li>Please limit your farmable mob count to a decent amount, over 100 farm animals is probably a bit more than you personally need.</li>
					<li>Redstone contraptions to assist in farming are allowed, but remember that the larger the amount of redstone, the more likely it is to contribute to server lag.</li>
					<li>Remember that lighting updates are the worst contributor to lag in redstone devices, so make sure all redstone is lit up with torches or other lighting. This goes for any redstone device, not just one used for farming.</li>
				</ul>
			</li>
			<li>
				<b>Community/Personal Portals and Waystations should be accessible by the whole community.</b><br>
				<p>Do not block off portals without speaking to the moderators first. Do not block access to waystations.</p>
			</li>
			<li>
				<b>The Nether and the End on the permanent server are reset monthly.</b><br>
				<p>Everything built in those dimensions will be disappear within one month.</p>
			</li>
			<li>
				<b>Do not block off access to strongholds, nether fortresses or blaze spawners. Do not destroy blaze spawners.</b>
			</li>
		</ul>
		<br>
		Quick reference: <a href="#general">General</a> <a href="#chats">Chats</a> <a href="#twitch">Twitch</a> <a href="#games">Games</a> <a href="#minecraft">Minecraft</a>
	</div>
</div>
%(footer)s
</body>