<!DOCTYPE html>
<html lang="en">
<head>
%(html_header)s
</head>
<body class="headless">
<div id="content">
	<p>Use the password you received in the e-mail from Patreon.</p>
	<form name="theatre_auth" action="%%(form_action)s" method="POST">
		<section>
			<label>Password:</label><section class="third"><!--
				--><input name="theatre_password" type="password" class="rigid left"><!--
				--><input type="submit" value="Submit" class="rigid right"><!--
			--></section>
		</section>
	</form>
	<p>Or if you are a member of the TURBO Club: <a href="%%(login_uri)s" class="button" target="_parent">Login using TURBOToot</a></p>
</div>
%(footer)s
</body>
