 	<meta charset="utf-8">
 	<title>%(title)s</title>
	<meta name="description" content="%(description)s">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="msapplication-config" content="/static/browserconfig.xml?v=69Pko8KOlq">
	<meta name="theme-color" content="#ffffff">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png?v=69Pko8KOlq">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png?v=69Pko8KOlq">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png?v=69Pko8KOlq">
	<link rel="manifest" href="/static/site.webmanifest?v=69Pko8KOlq">
	<link rel="mask-icon" href="/static/safari-pinned-tab.svg?v=69Pko8KOlq" color="#665448">
	<link rel="shortcut icon" href="/static/favicon.ico?v=69Pko8KOlq">
	<link rel="stylesheet" href="/static/style.css?v=%(css_version)s">