// IMPORTS
@import '_global.scss'; // shared scss properties

// sizing overwrites
@include overwrite-sizing(500px, 700);
$responsive-multiplier: 100vh/$reference-height;

// custom breakpoint function
@mixin min-width-media-chat($bp) {
	$spx-multiplier: $fixed-multiplier !global;
	@content;
	$spx-multiplier: $responsive-multiplier !global;
	@media (min-height: #{$bp}) {
		@content;
	}
}

// use functions for global sizes, so they get computed fresh
@function font-size-chat() { @return spx(15); }
@function font-size-login() { @return spx(18); }
@function line-height-chat() { @return spx(20); }

// Chat Color Map
@mixin user-color-map($roles, $colors) {
	@for $i from 1 through length($colors) {
		@each $role in $roles {
			.user-entry.nickColor#{$i} .role.#{$role} .allowColor {
				color: nth($colors, $i);
			}
		}
	}
}

html, body, #live {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body {
	font-family: sans-serif;
	background-color: #707070;
	padding: 0;
	margin: 0;
}

[role=button] {
	cursor: pointer;
	@include user-select(none);
}

.hidden {
	display: none !important;
}

.disabled {
	opacity: .5;
	[role=button] {
		cursor: default;
	}
}

.pulse {
	animation-duration: 1s;
	animation-name: pulse;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.center-floating-container {
	color: gray;
	background-color: #0f0e11;
	max-width: 28em;
	max-height: 30em;
	margin: 0 auto;
	padding: 0 0.3em 2em 0.3em;
	border: 0.5em solid #707070;
	border-color: rgba(112, 112, 112, .6);
	border-top-width: 0;
	border-radius: 0 0 0.3em 0.3em;
	overflow-x: hidden;
	overflow-y: scroll;
	@include scrollbar(rgba(80, 80, 80, .2), #0f0e11);

	h3 {
		margin-bottom: 0;
		font-style: italic;
		font-weight: 400;
	}
}

.fixed-top-centered {
	z-index: 400;
	position: fixed !important;
	left: 5%;
	right: 5%;
}

.center_helper {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	position: absolute;
}

.text-center {
	text-align: center;
}

.discriminator {
	font-weight: normal !important;
	color: #999;
}

#wrapper1 {
	padding: 0.5em;
	margin: 0 auto;
}

#upper_ui {
	display: block;
	border-spacing: 0.5em;
}

#{$a-tags} {
	color: #ff9;
}

// login
#login-wrapper {
	position: relative;
	padding: 1.5em 1.5em 2em 1.5em;
	background-color: #121214;
	color: #e6e6e6;
	border-top-width: 0 !important;
	border-color: rgba(112, 112, 112, 0.6);
	margin: 0 auto;
	z-index: 100;

	#{$a-tags} {
		text-decoration: none;
	}
}

#loginform {
	margin-top: 0.6em;

	label, input[type=text], input[type=password] {
		display: block;
		width: 100%;
	}

	input {
		margin-bottom: 0.5em;
	}
}

#slide_message {
	font-weight: bold;
	color: #c01010;
	width: 100%;
	line-height: 1.5em;
	visibility: visible;
	opacity: 1;
	max-height: 100%;
	&.hidden {
		display: block !important;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		@include transition(visibility 0.6s linear,
			                opacity 0.6s linear,
			                max-height 0s linear 0.7s);
	}
}

.slide_page h1 {
	color: inherit;
	font-family: sans-serif;
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
	font-weight: bold;
}

// settings
#settings-container {
	z-index: 400;
	position: relative;
}

.settings-item span {
	font-size: 1.4em;
	vertical-align: text-bottom;
}

// lower UI
.lower-ui {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	right: 0.5em;

	input {
		width: 100%;
		vertical-align: middle;
		line-height: 1.5em;
		background-color: #0f0e11;
		color: gray;
		padding: 0 0.25em;
	}

	.right {
		float: right;
	}

	.left {
		float: none;
		width: auto;
		overflow: hidden;
	}

	.button-container {
		position: relative;
		display: inline-block;
		background-color: #3a5cf9;
		vertical-align: middle;

		.button {
			position: absolute;
			left: 0;
			width: 100%;
			line-height: inherit;
			text-align: center;
		}
	}
}

// users
.user-entry {
	display: block;

	.timeout {
		vertical-align: middle;
		display: none;
		font-weight: 400;
		color: red;
	}

	&:hover .timeout {
		display: inline;
	}

	.message {
		display: inline;
		vertical-align: middle;
		overflow-wrap: break-word;
	}

	.prefix {
		display: inline;
		vertical-align: middle;
	}

	// usernames
	.username {
		display: inline-block;
		vertical-align: middle;
		font-weight: bold;

		.user-list &:first-letter {
			text-transform: uppercase;
		}

		.large & {
			margin-left: 0.4em;
			font-size: 1.8em;
		}

		.mid-size & {
			margin-left: 0.3em;
			font-size: 1.4em;
		}

		.small & {
			margin-left: 0.4em;
			font-size: 1.0em;
		}
	}

	.message {
		.large & {
			font-size: 1.8em;
		}

		.mid-size & {
			font-size: 1.4em;
		}

		.small & {
			font-size: 1.0em;
		}
	}
}

// icons
.role {
	.icon {
		vertical-align: middle;
		background-image: url(https://turbo.chat/content/img/chat_spritesheet_128_scaled.png);
		background-repeat: no-repeat;
		display: inline-block;

		.halloween & {
			background-image: url(https://turbo.chat/content/img/chat_spritesheet_halloween_128_scaled.png);
		}

		.xmas & {
			background-image: url(https://turbo.chat/content/img/chat_spritesheet_xmas_128_scaled.png);
		}
	}

	&.crew .icon {
		background-position: 0% 0%;
	}

	&.mod .icon,
	&.bot .icon {
		background-position: (32/(128-32))*100% 0%;
	}

	&.vip .icon {
		background-position: (64/(128-32))*100% 0%;
	}

	&.turbo .icon {
		background-position: (96/(128-32))*100% 0%;
	}

	&.shadow .icon,
	&.patron .icon, {
		background-position: 0% (32/(128-32))*100%;
	}

	&.banned .icon {
		background-position: (32/(128-32))*100% (32/(128-32))*100%;
	}
}

// user list
.user-list-wrapper {
	position: relative;
	z-index: 20;
}

.user-list .user-entry {
	border-bottom: 1px dotted #2f2e31;

	> .role.crew .icon + .username {
		color: #8b2222;
	}
	> .role.mod .icon + .username,
	> .role.bot .icon + .username {
		color: #228b22;
	}
	> .role.guest .icon + .username {
		color: #1e90ff;
	}
	> .role.turbo .icon + .username {
		color: #4682d0;
	}
	> .role.shadow .icon + .username,
	> .role.patron .icon + .username {
		color: #b0a065;
	}
	> .role.banned .icon + .username {
		color: #aaa;
	}
}

// channel
.channel-container {
	display: block;
	width: 100%;
}

.channel-window {
	position: absolute;
	top: 0.5em;
	bottom: 3em;
	left: 0.5em;
	right: 0.5em;
	color: gray;
	background-color: #0f0e11;
	overflow-x: hidden;
	overflow-y: scroll;
	border-radius: 0.1em;
	border-color: #e6e6e6;
	@include scrollbar(rgba(80, 80, 80, .6), #0f0e11);

	.informative, .error {
		font-style: italic;
		color: #999;
		padding: 0.3em;
	}

	.error {
		color: #900;
	}

	.user-entry {
		padding: 0.2em;
		overflow-wrap: break-word;

		.modbroadcast {
			font-weight: bold;
			background-color: #ff6e00;
			color: #000;
			padding: 0 1em;
		}

		.message.action {
			font-weight: bold;
		}
	}

	// nickname colors
	@include user-color-map(shadow,         #ab6060 #6db05d #75b3ae #72a2b8 #8369a0 #a866a0 #bfa05d);
	@include user-color-map(turbo,          #ac4b4b #51b03b #3bb0a8 #3b8db0 #713bb0 #b03ba0 #d1991a);
	@include user-color-map(guest mod crew, #b03b3b #51b03b #3bb0a8 #3b8db0 #713bb0 #b03ba0 #d1991a);

	// halloween theme
	.halloween & {
		@include user-color-map(shadow turbo guest mod crew, #ff7d00 #ff7d00 #c80000 #c80000 #ff7d00 #c80000 #ff7d00);
	}

	// xmas theme
	.xmas & {
		@include user-color-map(shadow turbo guest mod crew, #009600 #c80000 #e2b301 #009600 #c80000 #e2b301 #009600);
	}
}

// sized rules that require a media query with breakpoint
@include min-width-media-chat($breakpoint) {
	body, input {
		font-size: font-size-chat();
	}

	@keyframes pulse {
		0% {
			@include box-shadow(spx(0) spx(0) spx(0) spx(0) red);
		}
		25% {
			@include box-shadow(spx(0) spx(0) spx(1) spx(1) red);
		}
		50% {
			@include box-shadow(spx(0) spx(0) spx(2) spx(2) red);
		}
		75% {
			@include box-shadow(spx(0) spx(0) spx(3) spx(2) red);
		}
		100% {
			@include box-shadow(spx(0) spx(0) spx(3) spx(2) red);
		}
	}

	.center-floating-container {
		@include box-shadow(spx(1) spx(1) spx(20) black);

		h2 {
			border-bottom: spx(2) solid gray;
			margin-bottom: spx(10);
		}

		h3 {
			margin-top: spx(5);
		}
	}

	#debug_wrapper {
		min-width: spx(300);
		border-radius: 0 0 spx(25) spx(25);
	}

	form.debug #showdebug {
		min-width: spx(300);
	}

	#login-wrapper {
		max-width: spx(300);
		font-size: font-size-login();
		border: 5*font-size-login()/12 solid #707070;
		border-radius: 0 0 spx(25) spx(25);
		@include box-shadow(spx(1) spx(1) spx(20) #000)
	}

	.lower-ui {
		input {
			border: spx(1) solid #666;
			border-radius: spx(3);
			height: spx(24);
		}

		.right {
			margin-left: spx(5);
		}

		.button-container {
			border: spx(1) solid #00008c;
			border-radius: spx(3);
			line-height: spx(24);
			width: spx(24);
			height: spx(24);
		}
	}

	.user-entry {
		padding: spx(2) spx(4);

		.timeout {
			margin-left: spx(2);
		}

		.message {
			line-height: line-height-chat();
		}

		.role .icon {
			.large & {
				width: spx(32);
				height: spx(32);
				background-size: spx(128) spx(128);
			}

			.mid-size & {
				width: spx(24);
				height: spx(24);
				background-size: spx(96) spx(96);
			}

			.small & {
				width: spx(16);
				height: spx(16);
				background-size: spx(64) spx(64);
			}
		}
	} 

	.channel-window .user-entry {
		line-height: line-height-chat();
	}
}

.light-theme {
	#{$a-tags} {
		color: #00f;
	}

	.center-floating-container {
		color: #000;
		background-color: #e6e6e6;
		@include scrollbar(rgba(80, 80, 80, .2), #e6e6e6);

		h2 {
			border-color: black;
		}
	}

	.lower-ui input {
		background: #fff;
		color: #000;

		input {
			border-color: darkgray;
		}

		.button-container {
			border-color: #00008c;
		}
	}

	.user-list .user-entry {
		border-color: #ccc;
	}

	.channel-window {
		background-color: #e6e6e6;
		@include scrollbar(rgba(80, 80, 80, .2), #e6e6e6);

		.disabled {
			background-color: gray !important;
			border-color: #a9a9a9 !important;
		}

		.informative {
			color: #999;
		}

		.error {
			color: #900;
		}
	}
}

html.frash-show-mode {
	margin-top: 200px !important;

	body {
		font-size: 10pt;
	}

	.lower-ui {
		display: none !important;
	}

	#wrapper1 {
		width: 355px;
	}

	.user-entry {
		padding: 2px 4px;

		.timeout {
			margin-left: 2px;
		}

		.message {
			line-height: 16px;
		}

		.role .icon {
			.large & {
				width: 32px;
				height: 32px;
				background-size: 128px 128px;
			}

			.mid-size & {
				width: 24px;
				height: 24px;
				background-size: 96px 96px;
			}

			.small & {
				width: 16px;
				height: 16px;
				background-size: 64px 64px;
			}
		}
	} 

	.channel-window .user-entry {
		line-height: 16px;
	}

	.channel-window {
		width: 354px;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}
