// IMPORTS
@import '_global.scss'; // shared scss properties

// Standard sizing overwrites
@include overwrite-sizing(500px, 700);

// GLOBALS
$player-bg-color: #070707;

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body, #live {
	color: $fg-color;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

body {
	background: darken($bg-color, 10%);
	@include standard-gradient(darken($bg-color, 10%));
}

#live {
	position: relative;
}

#player_embed {
	position: relative;
	height: 100%;
	margin-right: 20%;
	@include transition(margin-right 0.6s ease);

	&.maximized {
		margin-right: 0;
	}
}

#player {
	float: left;
	height: 100%;
	width: 100%;
	background: $player-bg-color;
	overflow: hidden;

	&.oven {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#player-frame {
	float: left;
	height: 100%;
	width: 100%;
}


#toggleview {
	position: absolute;
	z-index: 9999;
	right: 0;
	transform: translateY(115%);
	height: 30%;
	vertical-align: middle;
	overflow:hidden;

	.button {
		position: absolute;
		top: 50%;
		right: 0;
		text-align: center;
		vertical-align: middle;
		background: $outset-color;
		@include standard-gradient($outset-color);
		visibility: hidden;
		opacity: 0;
		@include transition(opacity 0.5s ease, visibility 0.5s ease);
	}

	&:hover .button {
		visibility: visible;
		opacity: 1;
	}
}

.maximize:before {
	content: "»";
}

.minimize:before {
	content: "«";
}

#chat_embed {
	overflow: hidden;
	height: 100%;
	height: 100vh;
	width: 20%;
	float: right;
	z-index: 20;
	@include transition(width 0.6s ease);

	&.minimized {
		width: 0;
	}
}

#chat {
	position: absolute;
	width: 20%;
	height: 100%;
}

.vsources {
	position: absolute;
	outline: none;
	background: transparent;
	border: none;
	color: $fg-color;
	z-index: 10;
}

.vsources_span {
	position: absolute;
	outline: none;
	background: transparent;
	border: none;
	color: $fg-color;
	z-index: 10;
}

.vsources option {
	color: $player-bg-color;
}

.turboplayer_controls_wrapper {
	position: absolute;
	top: 0;
	opacity: 0;
	width: 100%;
	background-color: $player-bg-color;
	@include transition(opacity .25s ease-in-out);
}

.turboplayer_controls_fadeIn {
	opacity: 1;
}

// sized rules that require a media query with breakpoint
@include min-width-media($breakpoint) {
	#player_embed {
		min-height: spx(480);
	}

	#toggleview {
		width: spx(100);

		.button {
			height: spx(130);
			width: spx(40);
			margin: spx(-65) auto;
			font: bold spx(32) Verdana, sans-serif;
			line-height: spx(130);
			border-radius: spx(5) 0 0 spx(5);
			@include box-shadow(0 0 spx(20) black);
		}
	}

	#chat_embed {
		min-height: spx(480);
	}

	.vsources {
		font-size: spx(15);
		top: spx(2);
		left: spx(50);
	}

	.vsources_span {
		font-size: spx(15);
		top: spx(2);
		left: spx(2);
	}

	.turboplayer_controls_wrapper {
		@include box-shadow(0 0 spx(20) black);
		height: spx(24);
	}
}
